{% extends "base.html" %}
{% block content %}
<div id='middlebar' align='center'>
  <h3>{{building.name}}</h3>
</div>

  <div id='rooms'>
    {% for each in building.room_set.all %}
    <div id='roomlist' class="card">
      <div class="card-header">
        <p>Room Number: {{each.number}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{each.occupied}}
        </p>
        <p>
          <a class="buttonLink btn" href="permission/new">
            <i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="submit a response"></i>
            Submit
          </a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
