{% extends "base.html" %}
{% block content %}
<div id='subform'>
  {% for each in sub %}
    <div class="card" id="subform">
      <div class="card-header">
        <b>{{each.club}}</b>
      </div>
      <div class="card-body">
        <h5 class="card-title"><b><u>Purpose</u>:</b> {{each.purpose}}</h5>
        <p class="card-text">
          <b><u>Building</u>:</b> {{each.building}}<br>
          <b><u>Room No.</u>:</b> {{each.room}}<br>
          <b><u>Date</u>:</b> {{each.dates}}<br>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
